<!-- create.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Movie</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>Create Movie</h1>
    <form method="post" action="/create">
      <label for="movie_name">Names:</label>
      <input type="text" id="movie_name" name="movie_name" />
      <br />
      <label for="genre">Types:</label>
      <input type="text" id="genre" name="genre" />
      <br />
      <input type="submit" value="create" />
    </form>
    <a href="/">Back to List</a>
  </body>
</html>