<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>การจองโต๊ะอาหาร</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <h1>การจองโต๊ะอาหาร</h1>
    <table>
        <tr>
            <th>ชื่อร้าน</th>
            <th>พิกัดร้าน</th>
            <th>Action</th>
        </tr>
        <% for(var i=0; i < restaurant.length; i++) { %>
            <tr>
                <td><%= restaurant[i].nameres %></td>
                <td><%= restaurant[i].address %></td>
                <td>
                    <a href="/restaurant/<%= restaurant[i].restaurant_id %>">ดูรายละเอียด</a>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>