<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>การจองโต๊ะอาหาร</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <h1><%= restaurant.name %></h1>
    <p>Location: <%= restaurant.location %></p>
    <a href="/restaurant/update/<%= restaurant.restaurant_id %>">Edit</a>
    <a href="/restaurant/delete/<%= restaurant.restaurant_id %>">Delete</a>
    <a href="/restaurant">Back to List</a>
</body>
</html>