/* สไตล์สำหรับหัวเรื่อง */
h1 {
  text-align: center;
  color: #333;
}

/* สไตล์สำหรับฟอร์มการจอง */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

form div {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="number"],
form select {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form select {
  width: calc(100% - 22px);
}

/* สไตล์สำหรับปุ่มยืนยันการจอง */
form button[type="submit"] {
  width: calc(100% - 20px);
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* สไตล์สำหรับปุ่มกลับไปหน้าหลัก */
/* สไตล์สำหรับปุ่มกลับไปหน้าหลัก */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-container .button {
  margin: 0 10px;
}

/* สไตล์สำหรับผลลัพธ์การจอง */
#reservation-result {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#reservation-result p {
  margin: 5px 0;
}

.button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.button:hover {
  background-color: #0056b3;
}