<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <h1><%= movie.movie_name %></h1>
    <p>genre: <%= movie.genre %></p>
    <a href="/movie/update/<%= movie.movie_id %>">Edit</a>
    <a href="/movi/delete/<%= movie.movie_id %>">Delete</a>
    <a href="/movie">Back to List</a>
</body>
</html>