<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <h1><%= table.capacity %></h1>
    <p>status: <%= status %></p>
    <a href="/table/update/<%= table.table_id %>">Edit</a>
    <a href="/tabl/delete/<%= table.table_id %>">Delete</a>
    <a href="/table">Back to List</a>
</body>
</html>