<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Book</title>
    <link rel="stylesheet" href="../css/style.css"/>

</head>
<body>
    <h1>Create Movie</h1>
    <form method="post" action="/tabl/create">
        <label for="capacity">capacity:</label>
        <input type="text" id="capacity" name="capacity">
        <br>
        <label for="status">status:</label>
        <input type="text" id="status" name="status">
        <br>
        <input type="submit" value="create">
    </form>
    <a href="/table">Back to List</a>
</body>
</html>