<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <h1><%= Reservation.Reservation_id %></h1>
    <p>Reservation_Date_Time: <%= Reservation.Reservation_Date_Time %></p>
    <a href="/Reservation/update/<%= Reservation.Reservation %>">Edit</a>
    <a href="/Reservatio/delete/<%= Reservation.Reservation %>">Delete</a>
    <a href="/Reservation">Back to List</a>
</body>
</html>