<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Book</title>
    <link rel="stylesheet" href="../css/style.css"/>

</head>
<body>
    <h1>Create Reservation</h1>
    <form method="post" action="/Reservatio/create">
        <label for="Reservation_id">Reservation_id:</label>
        <input type="text" id="Reservation_id" name="Reservation_id">
        <br>
        <label for="Reservation_Date_Time">Reservation_Date_Time:</label>
        <input type="text" id="Reservation_Date_Time" name="Reservation_Date_Time">
        <br>
        <input type="submit" value="create">
    </form>
    <a href="/Reservation">Back to List</a>
</body>
</html>