<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Book</title>
    <link rel="stylesheet" href="../css/style.css"/>

</head>
<body>
    <h1>Create Movie</h1>
    <form method="post" action="/movi/create">
        <label for="movie_name">name:</label>
        <input type="text" id="movie_name" name="movie_name">
        <br>
        <label for="genre">genre:</label>
        <input type="text" id="genre" name="genre">
        <br>
        <input type="submit" value="create">
    </form>
    <a href="/movie">Back to List</a>
</body>
</html>