<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Reservation</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <h1>Create Reservation</h1>
    <form method="post" action="/reservations/create">
        <label for="date">Date:</label>
        <input type="text" id="date" name="date">
        <br>
        <label for="time">Time:</label>
        <input type="text" id="time" name="time">
        <br>
        <label for="status">Status:</label>
        <input type="text" id="status" name="status">
        <br>
        <input type="submit" value="create">
    </form>
    <a href="/reservation">Back to List</a>
</body>
</html>