<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แบบฟอร์มการจองโต๊ะ</title>
    <link rel="stylesheet" href="../css/styles.css"/>
</head>
<body>
    <h1>แบบฟอร์มการจองโต๊ะ</h1>
    <form action="/restaurant" method="post">
        <div>
            <label for="name">ชื่อ - นามสกุล:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="email">อีเมล:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="date">วันที่:</label>
            <input type="date" id="date" name="date" required>
        </div>
        <div>
            <label for="time">เวลา:</label>
            <input type="time" id="time" name="time" required>
        </div>
        <div>
            <label for="capacity">จำนวนคน:</label>
            <input type="number" id="capacity" name="capacity" min="1" required>
        </div>
        <button type="submit">Submit Reservation</button>
        <a href="/restaurant" class="button">Back to Menu</a>
    </form>
</body>
</html>