<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Time</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <h1><%= showtime.starttime %></h1>
    <p>theater: <%= showtime.theater %></p>
    <a href="/showtime/update/<%= showtime.showtime_id %>">Edit</a>
    <a href="/showtim/delete/<%= showtime.showtime_id %>">Delete</a>
    <a href="/showtime">Back to List</a>
</body>
</html>