<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Book</title>
    <link rel="stylesheet" href="../css/style.css"/>

</head>
<body>
    <h1>Create showtime</h1>
    <form method="post" action="/showtim/create">
        <label for="starttime">starttime:</label>
        <input type="text" id="starttime" name="starttime">
        <br>
        <label for="theater">theater:</label>
        <input type="text" id="theater" name="theater">
        <br>
        <input type="submit" value="create">
    </form>
    <a href="/showtime">Back to List</a>
</body>
</html>