<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <h1><%= user.username %></h1>
    <p>email: <%= user.email %></p>
    <a href="/user/update/<%= user.user_id %>">Edit</a>
    <a href="/use/delete/<%= user.user_id %>">Delete</a>
    <a href="/user">Back to List</a>
</body>
</html>