<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Book</title>
    <link rel="stylesheet" href="../css/style.css"/>

</head>
<body>
    <h1>Create user</h1>
    <form method="post" action="/use/create">
        <label for="username">username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="email">email:</label>
        <input type="text" id="email" name="email">
        <br>
        <input type="submit" value="create">
    </form>
    <a href="/user">Back to List</a>
</body>
</html>